{#
/**
 * Block Name: Small List
 *
 * This is the template that displays a small formatted list of items
 * with the ability to add a title to the list item.
 *
 * @since  1.0.0
 */
#}

<div id="{{ block.id }}" class="component small-list">

	<h2 class="title title-3 has-top-marg-xlrg has-top-pad-xlrg">{{ fields.title }}</h2>


	{% if(fields.items) %}
		<ul class="{{ fields.has_bullets ? 'has-bullets' : '' }} {{ fields.font_body == 'small' ? 'font-body is-small' : '' }} has-bottom-marg-xlrg">
			{% for item in fields.items %}
				<li>{{ item.text }}</li>
			{% endfor %}
		</ul>
	{% endif %}

</div>
