{% block html_head_container %}

	{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

{# Set default image for site logo #}
{% set site_logo_url =  site.theme.link ~ '/static/images/logo.svg' %}

{# If site logo is passed in Customizer, then pass this URL instead of the default one #}
{% if site_logo %}
	{% set site_logo_url = site_logo %}
{% endif %}


<body class="{{ body_class }}" data-template="base.twig">


{% if gtm_script_tag %}
	<!-- Google Tag Manager (noscript) -->
	<noscript>
		<iframe src="https://www.googletagmanager.com/ns.html?id={{ gtm_script_tag }}"
				height="0" width="0" style="display:none;visibility:hidden"></iframe>
	</noscript>
	<!-- End Google Tag Manager (noscript) -->
{% endif %}


{# <a class="skip-link screen-reader-text" href="#content">{{ _e( 'Skip to content') }}</a> #}
<div id="pogo-body-container" class="{{ post.meta('page_background') ? 'bg-light' : '' }}">
	<header id="header" class="main-background">
		{% block header %}
			<div class="header-content">
				<a href="{{ site.url }}" class="header-logo"> <img src="{{ site_logo_url }}" alt="" class="logo"/> </a>
				<div class="header-controls">
					<a class="header-link-item" href="{{ header_home_link }}">
						<img class="header-link-item__icon" src="{{ theme.link }}/static/images/icon-home.png" alt="">
						<span class="header-link-item__text">{{ header_home_text }}</span>
					</a>
					<a href="{{ header_login_link }}" target="_blank" class="header-link-item">
						<img class="header-link-item__icon" src="{{ theme.link }}/static/images/icon-user.png" alt="">
						<span class="header-link-item__text">{{ header_login_text }}</span>
					</a>
					{% include "menu.twig" with {'menu': menu.get_items} %}
				</div>
			</div>
		{% endblock %}
	</header>

	{% block content %}
	{% endblock %}

	{% block footer %}
		<footer id="footer" class="main-background">
			{% include 'footer.twig' %}
		</footer>
		{{ function('wp_footer') }}
	{% endblock %}
</div>
</body>
</html>
