{# Set default image for site logo #}
{% set footer_logo_url =  site.theme.link ~ '/static/images/footer-brand.svg' %}

{# If site logo is passed in Customizer, then pass this URL instead of the default one #}
{% if footer_logo %}
	{% set footer_logo_url = footer_logo %}
{% endif %}

{# <footer id="footer" > #}
<div class="footer-content">

	<section class="footer-links">
		{{ footer_main_widget_area }}
	</section>

	<section class="footer-branding">
		<div class="footer-brand">
			<div class="flex flex-align-center flex-gap-sml">
				<a href={{ site.url }}><img src="{{ footer_logo_url }}" alt="{{ site.name }}"></a>
				<span>|</span>
				<span>{{ site.description }}</span>
			</div>
			<p>{{ footer_copyrights }}</p>
		</div>

		{% if show_footer_social %}
			<ul class='footer-socials'>
				{% for social in social_networks %}
{#					<a class="footer__social-icon" itemprop="url" href="{{ social.url }}" target="_blank" style="background-image:url({{ theme.uri }}/assets/img/icon-{{ social.name }}.svg"></a>#}
					<a class="footer-socials__icon" itemprop="url" href="{{ social.url }}" target="_blank">
						<i class="fa fa-{{ social.name }}"></i>
					</a>
				{% endfor %}
			</ul>
		{% endif %}


{#		<div class="footer-socials">#}
{#			<a href="#"><img src="/wp-content/uploads/2019/04/fb.svg" alt="facebook"></a>#}
{#			<a href="#"><img src="/wp-content/uploads/2019/04/twitter.svg" alt="twitter"></a>#}
{#			<a href="#"><img src="/wp-content/uploads/2019/04/insta.svg" alt="instagram"></a>#}
{#			<a href="#"><img src="/wp-content/uploads/2019/04/linkedin.svg" alt="linkedin"></a>#}
{#		</div>#}

	</section>
</div>
{# </footer> #}
