{% extends "base.twig" %}

{% block content %}

	<img src="{{ post.meta('page_decoration') }}" alt="" class="heading-icon {{ post.meta('decoration_position') }}">


	{% if(post.meta('videos') or post.meta('reverse_videos')) %}
		<div class="videos">
			{% for item in post.meta('videos') %}
				<video src="{{ item.video }}" muted preload id="f{{ loop.index }}" class="{{ loop.index == 1 ? 'active' : '' }}"></video>
			{% endfor %}
			{% for item in post.meta('reverse_videos') %}
				<video src="{{ item.video }}" muted preload id="r{{ loop.index }}"></video>
			{% endfor %}
		</div>
	{% endif %}

{#	<video src="{{ theme.link }}/static/videos/forward2.mp4" muted preload id="f1"></video>#}
{#	<video src="{{ theme.link }}/static/videos/forward3.mp4" muted preload id="f2"></video>#}
{#	<video src="{{ theme.link }}/static/videos/reverse2.mp4" muted preload id="r2"></video>#}
{#	<video src="{{ theme.link }}/static/videos/reverse3.mp4" muted preload id="r3"></video>#}


	<div id="fullpage">

		{% if(post.meta('section')) %}
			{% for item in post.meta('section') %}
				<section id="section-{{ loop.index }}" class="section active">
					<div class="slide-content ">
						<h2 class="is-blue title title-3">{{ item.title }}</h2>
						<h3 class="is-grey title title-2">{{ item.subtitle }}</h3>
						<p class="is-grey font-body">
							{{ item.content }}
						</p>
					</div>
				</section>
			{% endfor %}
		{% endif %}


	</div>

	{% if(post.meta('section')) %}
		<div class="dots">
			{% for item in sections %}
				<div class="dot {{ loop.index == 1 ? 'active' : '' }}"></div>
			{% endfor %}
		</div>
	{% endif %}

	<main class="main-info">
		<section class="main-info-img-wrap">
			<img class="mask mask-top" src="{{ theme.link }}/static/images/clipping-mask-top.png" alt="">
			<img class="main-info-img" src="{{ post.meta('bottom_section_image') }}" alt="">
			<img class="mask mask-bottom" src="{{ theme.link }}/static/images/clipping-mask-bottom.png" alt="">
			<article class="content">
				<div class="main-info-copy">
					<h2 class="title title-3">{{ post.meta('bottom_section_title') }}</h2>
					<h3 class="title title-2">{{ post.meta('bottom_section_subtitle') }}</h3>
					<div>
						{{ post.meta('bottom_section_content') }}
					</div>
				</div>
			</article>
		</section>
	</main>

	{% if(disclaimer) %}
		<p style="width:100%;text-align:center;font-size:.8rem;">{{ disclaimer }}</p>
	{% endif %}

	{% include "partial/modal-signin.twig" %}

{% endblock %}
