{% extends "base.twig" %}

{% block content %}

	<img src="{{ theme.link }}/static/images/ring.svg" alt="" class="heading-icon right">

	{% if(post.meta('videos') or post.meta('reverse_videos')) %}
		<div class="videos">
			{% for item in post.meta('videos') %}
					<video {{ loop.index == 1 ? 'autoplay' : '' }} playsinline muted preload="auto" id="f{{ loop.index -1 }}" class="{{ loop.index == 1 ? 'active' : '' }}" data-autoplay>
						<source src="{{ item.video }}#t1" type="video/mp4"/>
					</video>
{#				{% if fn('wp_is_mobile') %}#}
{#				{% else %}#}
{#					<video playsinline muted preload="auto" id="f{{ loop.index -1 }}" class="{{ loop.index == 1 ? 'active' : '' }}" data-autoplay>#}
{#						<source src="{{ item.video }}#t1" type="video/mp4"/>#}
{#					</video>#}
{#				{% endif %}#}
			{% endfor %}
			{% for item in post.meta('reverse_videos') %}
				<video playsinline muted preload="auto" id="r{{ loop.index }}" data-autoplay>
					<source src="{{ item.video }}#t1" type="video/mp4"/>
				</video>
			{% endfor %}
		</div>
	{% endif %}

	<div id="fullpage">

		{% if(post.meta('section')) %}
			{% for item in post.meta('section') %}
				<section id="section-{{ loop.index }}" class="section {{ loop.index == 1 ? 'active' : '' }} {{ loop.last ? 'last-section' : '' }}">
					<div class="slide-content ">
						<h2 class="is-blue title title-3">{{ item.title }}</h2>
						<h3 class="is-grey title title-2">{{ item.subtitle }}</h3>
						<div class="slide-content__body is-grey font-body">
							{{ item.content }}
						</div>
						{% if (loop.last) %}
							<div class="slide-content-arrow">
								<a href="#main">
									<img src="{{ theme.link }}/static/images/caret-down.png" alt="">
								</a>
							</div>
						{% endif %}
					</div>
				</section>
			{% endfor %}



		{% endif %}

	</div>

	{% if(post.meta('section')) %}
		<div class="dots">
			{% for item in sections %}
				<div id="dot-{{ loop.index }}" class="dot {{ loop.index == 1 ? 'active' : '' }}" data-count="{{ loop.index }}"></div>
			{% endfor %}
		</div>
	{% endif %}

	<main id="main" class="main-info">
		<section class="main-info-img-wrap">
			<img class="mask mask-top" src="{{ theme.link }}/static/images/clipping-mask-top.png" alt="">
			<img class="main-info-img" src="{{ post.meta('bottom_section_image') }}" alt="">
			<article class="content">
				<div class="main-info-copy">
					<h2 class="title title-3">{{ post.meta('bottom_section_title') }}</h2>
					<h3 class="title title-2">{{ post.meta('bottom_section_subtitle') }}</h3>
					<div>
						{{ post.meta('bottom_section_content') }}
					</div>
				</div>
			</article>
		</section>
	</main>

	{% set form_shortcode = '[gravityform id=' ~ post.meta('form_id') ~ ' title=false description=false ajax=true]' %}

	{% if(disclaimer) %}
		<p style="width:100%;text-align:center;font-size:.8rem;">{{ disclaimer }}</p>
	{% endif %}

{% endblock %}
