{% extends "base.twig" %}

{% block content %}

	<article class="post-type-{{ post.post_type }}" id="post-{{ post.ID }}">

		<section class="heading-content">
			<h1 class="title title-1 is-centered is-grey">{{ post.title }}</h1>
			<img src="{{ theme.link }}/static/images/ring.svg" alt="" class="heading-icon right">
		</section>

		<main class="site-content">


			<div class="content is-grey">
				{{ post.content }}

				{% if(post.meta('items')) %}
					<p>&nbsp;</p>
					<h2 class="title title-2" data-toc="heading">{{ _e('TABLE OF CONTENTS', TEXT_DOMAIN) }}</h2>

					<ul class="table-contents">
						{% for item in post.meta('items') %}
							<li>
								<a class="js-page-nav-link" href="#item-{{ item.title|replace({' ' : '-', ';': ''})|lower }}">{{ loop.index }}. {{ item.title }}</a>
							</li>
						{% endfor %}
					</ul>
					<p>&nbsp;</p>
					<div class="item-list-row">
						{% for item in post.meta('items') %}
							<div id="item-{{ item.title|replace({' ' : '-', ';': ''})|lower }}" class="item">
								<h3 class="title title-3">{{ item.title }}</h3>
								<div>{{ item.content }}</div>
							</div>
						{% endfor %}
					</div>

				{% endif %}

			</div>
		</main>

		{% if(disclaimer) %}
			<p style="width:100%;text-align:center;font-size:.8rem;">{{ disclaimer }}</p>
		{% endif %}

	</article>
	{% include "partial/modal-signin.twig" %}
{% endblock %}
