{% extends "base.twig" %}

{% block content %}

	<article class="post-type-{{ post.post_type }} {{ post.meta('page_background') ? 'bg-light' : '' }}" id="post-{{ post.ID }}">

		<section class="heading-content">
			<h1 class="title title-1 is-centered is-grey">{{ post.title }}</h1>
		</section>

		<main class="site-content">
			{% if(page_decoration) %}
				<img src="{{ page_decoration }}" alt="" class="heading-icon {{ decoration_position }}">
			{% endif %}

			<div class="content is-grey">
				{{ post.content }}
			</div>
		</main>

		{% if(disclaimer) %}
			<p style="width:100%;text-align:center;font-size:.8rem;">{{ disclaimer }}</p>
		{% endif %}

	</article>
	{% include "partial/modal-signin.twig" %}
{% endblock %}
